body {
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    padding: 0;
    margin: 0;
}

h1, h2 {
    font-weight: normal;
}

.pattern {
    display: block;
}

pre {
    margin: 0 0 8px 0;
    background-color: #F0F0F0;
    padding: 1em;
}

h1, h2, code, p, .content {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
}

.control {

}

.control > label {
    margin: 12px 0;
    display: inline-block;
}

.colorPicker {
  width: 100%;
  height: 34px;
  border: 0;
  background-color: #f0f0f0;
  padding: 8px;
  border-radius: 6px;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 34px;
  border-radius: 6px;
  background: #f0f0f0;
  outline: none;
  -webkit-transition: .2s;
  transition: opacity .2s;
  padding: 0 4px;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #333;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #333;
  cursor: pointer;
}

.meta {
    text-align: right;
}

.download {
    border: 1px solid #000;
    padding: 8px;
    display: inline-block;
    margin: 16px 0 16px 16px;
    cursor: pointer;
}

.download:hover {
    background-color: #ddd;
}

.download:active {
    background-color: #ccc;
}

.copyright {
    text-align: center;
}
