body {
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    padding: 0;
    margin: 0;
}

h1, h2 {
    font-weight: normal;
}

.pattern {
    display: block;
}

pre {
    margin: 0 0 8px 0;
    background-color: #F0F0F0;
    padding: 1em;
}

h1, h2, code, p, .content {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
}

.meta {
    text-align: right;
}

.download {
    border: 1px solid #000;
    padding: 8px;
    display: inline-block;
    margin: 16px 0 16px 16px;
    cursor: pointer;
}

.download:hover {
    background-color: #ddd;
}

.download:active {
    background-color: #ccc;
}

.copyright {
    text-align: center;
}
